<header class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <a class="header-logo" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.svg')}}">
        </a>

        <div>
            <a target="_blank" href="https://api.gouv.fr/documentation/api-recherche-entreprises" class="btn btn-primary-stroke">GouvFr Api</a>
        </div>
    </div>
</header>
